/*--- BASIC SETUP ---*/

html, body {
    background-color: #fff;
    color: #5c5c5c;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
    width: 90%;
    margin: auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*--- REUSABLE BITS ---*/ 

header {
    display: flex;
    height: 140px;
    align-items: center;
}

.container-logo,.main-nav {
    display: flex;
}

.container-logo {
    flex: 1;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

nav {
    flex: 2;
}

.main-nav {
    list-style: none;
    justify-content: space-around; 
}

.nav-link {
    text-decoration: none;
}

.address {
    text-align: left;
    margin: 10px;
    margin-top: 80px;
}

a:link,
a:visited {
    color: #e67e22;
    font-weight: 1000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

.pagetitle {
    text-align: center;
    text-transform: uppercase;
    color: #e67e22;
    border-top: 20px;
    border-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f4f4f4;
}


/*--- HOME PAGE ---*/ 

.home-page-text {
    margin-top: 60px;
    text-align: justify; 
    border-bottom: 2px solid #dbdbdb;
}

.section2 {
    margin-top: 15px;
    border-bottom: 2px solid #dbdbdb;
}

table, th, td {
    margin-top: 60px solid #dbdbdb;
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.table-photo {
    width: 40%
}

.home-page-table-caption {
    color: #e67e22;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 20px;
}

.list_caption {
    padding-top: 15px;
    padding-bottom: 15px;
}

.section_3_list {
    list-style: none;
    color: #e67e22;
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    line-height: 40px;
}

.bottom_image {
    padding-top: 20px;
    padding-left: 15px;
    margin:auto;
    width: 100%;
}

@media only screen and (max-width: 700px){
    .bottom_image {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .bottom_image {
        width: 100%;
    }
}

/*--- OUR WORK PAGE ---*/ 

.wrapper {
    margin: 0 auto;
    width: 90%;
    float: none;
}

video {
    width: 100%;
}

.work_description_box {
    margin: auto;
    background-color: #f4f4f4;
}
.work_description_text {
    color: #000;
    text-align: justify;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e67e22;
}

.get-involved {
    padding-top: 20px;
}

.help_out {
    color: #e67e22;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}


/*--- OUR TEAM PAGE ---*/

.ourteam img {
    width: 100%;
    height: 300px;
}

.ourteam_description {
    padding: 15px;
    text-align: center;
}

.ourteam_layout {
    padding: 0 6px;
    float: left;
    width: 25%;
    padding-bottom: 100px;
}

@media only screen and (max-width: 700px){
    .ourteam_layout{
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .ourteam_layout{
        width: 100%;
    }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

/*--- GALLERY PAGE ---*/ 


.gallery img {
    width: 100%;
    height: 300px;
}

.gallery_description {
    padding: 15px;
    text-align: center;
}

.gallery_layout {
    padding: 0 6px;
    float: left;
    width: 25%;
    padding-bottom: 100px;
}

@media only screen and (max-width: 700px){
    .gallery_layout{
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .gallery_layout{
        width: 100%;
    }
}

/*--- CONTACT US PAGE ---*/

.contact_info {
    line-height: 50px;
}

.shelter_address {
    color: #e67e22;
    font-weight: 600;
}

.office_address {
    color: #e67e22;
    font-weight: 600;
}

.phone_number {
    color: #e67e22;
    font-weight: 600;
}

.social{
    padding-top: 20px;
    padding-bottom: 20px;
}

/*--- FOOTER ---*/ 

#footer-div {
    min-height: 30%;
}


#footer {
    background-color: #f4f4f4;
    position: relative;
    height: 175px;
    clear: both;
    background-image: url(images/Cork-Simon-Logo-small.jpg);
    background-repeat: no-repeat;
}

.footer-text {
    padding-left: 200px;
    color: #e67e22;
    font-weight: 650;
}
